@import '../../../../styles/customMediaQueries.css';

.root {
  &[id] {
    scroll-margin-top: calc(var(--topbarHeight) + 24px);

    @media (--viewportMedium) {
      scroll-margin-top: calc(var(--topbarHeightDesktop) + 24px);
    }
  }
}

.root[id="8lQ7m"] {
    border: 10px solid var(--colorBlack);
    border-radius: 6px;
    padding: 12px;

}
